.social-btn {
  background: cornflowerblue;
  color: white;
  text-align: center;
  border-style: hidden;
  border-width: 5px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-size: 20px; 
}